<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to the GSA web api</h1>
                <h2>Click on <a href="/help">API</a> for more information on how to call the different actions</h2>
            </hgroup>
            <p>
               This project leverages ASP.NET Web API to simplify interactions with the Google Search Appliance
            </p>
           
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Get started:</h3>
        <ol class="round">
            <li class="one">
                <h5>Click API</h5>
                Click on API at the top right of this page to learn more about the different methods that this API supports.
            </li>

            <li class="two">
                <h5>Setup your GSA</h5>
                Setup your google search appliance with the appropriate collections and client.
            </li>
            <li class="three">
                <h5>Make your calls</h5>
                Call the methods using simple REST calls and consume the results.
            </li>
        </ol>
    </section>
</div>
