<?xml version="1.0" encoding="utf-8"?>


<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
 
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
   
  </system.web>
  <appSettings>
    <add key="AllowedCorsHosts" value="http://localhost:53532,http://localhost:54509,http://klaratest,http://nyacctest.suntliv.nu/,http://nytest.suntliv.nu" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>